#container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#box {
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 50px #AAA;
}

#buttonsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #18212a;
    padding: 5px 0px 15px 0px;
}