* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --colorBlack: #333
}
body {
    width: 100vw;
    height: 100vh;
    color: var(--colorBlack);
}

main {
    width: 100%;
}

.container {
    display: flex;
}